site_name: Johan Daza
site_url: https://sitename.example
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo-disque.png
  favicon: assets/favicon-disque.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: indigo
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: lime
      accent: deep orange

nav:

  - Imprimer: index.md
  - Mots: Mots.md
  - Cinéma : Cinéma.md
  - Poésie: Poésie.md
  - Concours: Concours.md
  - 'Plans stratégiques':
      - Annuel: Plans stratégiques/Plan-strat%C3%A9gique-annuel.md
      - Quadriennale: Plans stratégiques/Plan-strat%C3%A9gique-quadriennale.md
  - Livre: Livre.md

markdown_extensions:
  - def_list
  - md_in_html
  - pymdownx.blocks.caption
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details


plugins:
  - search
  - glightbox

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/jsdazaa/
    - icon: fontawesome/solid/paper-plane
      link: mailto:<jsdazaa@gmail.com>

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; 2025-2026 Johan Daza